{% extends 'base.html' %}
{% load static %}

{% block title %}Categories{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for post in category_posts %}
        <div class="col s12 m6 l6">
            <div class="card large">
                <div class="card-image">
                    <img src="{{ post.img.url }}" class="h card-image" alt="...">
                </div>
                <div class="card-content">
                    <ul style="list-style-type: none; padding-left: 0px;">
                        <li><i class="material-icons">collections</i><a> {{ post.category }}</a></li>
                        <li><i class="material-icons">comment</i><a> {{ post.comments.all.count }} Comments</a></li>
                        <li><i class="material-icons">person</i><a> Post By {{ post.author.username }}</a></li>
                        <li><i class="material-icons">event</i><a> {{ post.post_date|date:'d F' }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <ul class="pagination">
            {% if category_posts.has_previous %}
            <li class="waves-effect"><a href="?page=1"><i class="material-icons">chevon_left</i></a></li>
            <li class="waves-effect"><a href="?page={{ category_posts.previous_page_number }}"><i
                        class="material-icons">chevon_left</i></a></li>
            {% endif %}
            {% for num in category_posts.paginator.page_range %}
            {% if num == category_posts.number %}
            <li class="waves-effect"><a href="?page={{num}}">{{num}}</a></li>
            {% elif num > category_posts.number|add:'-2' and num < category_posts.number|add:'2' %} 
            <li class="waves-effect"><a
                    href="?page={{num}}">{{num}}</a></li>
                {% endif %}
                {% endfor %}
                {% if category_posts.has_next %}
                <li class="waves-effect"><a href="?page={{category_posts.next_page_number}}"><i
                            class="material-icons">chevon_right</i></a></li>
                <li class="waves-effect"><a href="?page={{ category_posts.paginator.num_pages }}"><i
                            class="material-icons">chevon_right</i></a></li>
                {% endif %}
        </ul>
    </div>
</div>
{% endblock %}