{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}
<!-- START CAROUSEL -->
<div class="slider">
    <ul class="slides">
        <li>
            <img src="{% static 'img/parallax.jpg' %}" class="img">
            <div class="caption left-align z-depth-3">
                <h3>Vision</h3>
                <p class="light grey-text flow-text text-lighten-3">The Nanton District Assembly is envisioned too become a model Local Government Authority that delivers quality services
                to meet the needs and aspirations of its citizens especially vulnerable groups and those that are excluded in society.</p>
            </div>
        </li>
        <li>
            <img src="{% static 'img/2.JPG' %}" class="img">
            <div class="caption left-align z-depth-3">
                <h3>Mission</h3>
                <p class="light grey-text flow-text text-lighten-3">The Nanton District Assembly exists to improve upon the living standards of citizens of the district through effective
                mobilization and efficient application of resources to implement development initiatives with the active participation
                of beneficiary institutions and communities to create opportunities for all.</p>
            </div>
        </li>
        <li>
            <img src="{% static 'img/1.JPG' %}" class="img">
            <div class="caption left-align z-depth-3">
                <h3>Core values</h3>
                <p class="light grey-text flow-text text-lighten-3">The principles the management and staff of the Nanton District Assembly uphold and apply to guide their conduct and
                perform their duties with efficiency, effectively and with mutual respect for all stakeholders</p>
            </div>
        </li>
    </ul>

</div>

<!-- END CAROUSEL -->

<!-- START PROFILE EXCEPTS -->
<div>
    <div class="row">
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            <li class="tab"><a href="#dept" class="teal-text">Business Operating Permit</a></li>
            <li class="tab"><a href="#serv" class="teal-text">Building Permit</a></li>
            <li class="tab"><a href="#waste" class="teal-text">Waste Management</a></li>
        </ul>
    </div>
</div>
<!-- END PROFILE EXCERPTS -->

<!-- START FEATURED POSTS -->
<div class="container">
    <div class="row">
        <h3 class="center">Featured Posts</h3>
        {% for post in latestpost_list %}
        <div class="col s12 m4 l4">
            <div class="card large">
                <div class="card-image">
                    <img src="{{ post.img.url }}" class="h card-image" alt="...">
                </div>
                <div class="card-content">
                    <a href="{% url 'blog-detail' post.slug %}">
                        <span class="card-title">{{ post.title }}</span></a>
                    <div class="divider"></div>
                    <span><i class="material-icons">person</i> Post by {{ post.author.username }} | {{
                        post.post_date|date:'d F Y' }}</span>
                    <div class="divider"></div>
                    {{ post.body | slice:':100' | safe }}...
                </div>
                <div class="card-action">
                    <a href="{% url 'blog-detail' post.slug %}">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- <h5 class="center"><a href="#" class="teal darken-3 btn btn-flat btn-large btn-info"><small><span>See all posts</span></small></a></h5> -->
    </div>
</div>
<!-- END FEATURED POSTS -->


<!-- START VIDEO POSTS -->
<div style="background: fff;">
    <div class="row">
        <h3 class="center">How Nanton district protrays culture</h3>
        <p class="center">Seeing is believing. Take a look at the cultural values displayed during festivals and other events within the district.</p>
        {% for video in videos %}
        {% if video.file %}
            <div class="col s12 m12 l12 center">
                <video autoplay="autoplay" preload="preload" class="responsive-video" controls>
                    <source src="{{ MEDIA_URL }}/{{ video.file.url }}" type="video/mp4">
                </video>
            </div>
        {% else %}
        <div class="col s12 m12 l12 center">
            <iframe width="790" height="444" src="https://www.youtube.com/embed/VAKbNy821kE" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        {% endif %}
        {% endfor %}
        <!-- <h5 class="center"><a href="#" class="teal darken-3 btn btn-flat btn-large btn-info"><small><span>See all posts</span></small></a></h5> -->
    </div>
</div>
<!-- END VIDEO POSTS -->

<!-- START PARALLAX -->
<div class="parallax-container">
    <div class="parallax">
        <img src="{% static 'img/parallax.jpg' %}">
    </div>
</div>
<!-- END PARALLAX -->
{% endblock %}