{% extends 'base.html' %}

{% load static %}

{% block title %}Media{% endblock %}

{% block content %}

{% for post in latestpost_list %}
    <div class="col s12 m6 l4 gallery-item gallery-expand gallery-filter materialboxed" data-fillscreen="true" style="position: relative;">
        <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
                <img class="responsive-img" src="{{ post.img.url }}" alt="{{ post.title }}">
            </a>
            <div class="gallery-header">
                <span>{{ post.category }}</span>
            </div>
            <div class="gallery-body" style="margin-top: 184px; padding: 40px; min-height: 505px; display: none;">
                <div class="title-wrapper">
                    <h3>{{ post.title }}</h3>
                    <span class="price">{{ post.body | slice:':150' | safe }}...</span>
                </div>
            </div>
            <div class="gallery-action" style="top: 184px;">
                <a class="btn-floating btn-large waves-effect waves-light" style="background-color: rgb(182, 162, 135);">
                    <i class="material-icons">favorite
                    </i></a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}