{% extends 'base.html' %}

{% load static %}

{% block title %}Media{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
           <h3>Media and Gallery</h3>
            {% for post in latestpost_list %}
            <div class="col s12 m6 l4 gallery-item gallery-expand gallery-filter materialboxed" data-fillscreen="true"
                style="position: relative;">
                <div class="gallery-curve-wrapper">
                    <a class="gallery-cover transparent">
                        <img class="responsive-img" src="{{ post.img.url }}" alt="{{ post.title }}">
                    </a>
                    <div class="gallery-header">
                        <span>{{ post.title }}</span>
                    </div>
                    <div class="gallery-body" style="margin-top: 184px; padding: 40px; min-height: 505px; display: none;">
                        <div class="title-wrapper">
                            <h3>{{ post.category }}</h3>
                            <span class="price">{{ post.body | slice:':150' | safe }}...</span>
                        </div>
                    </div>
                    <div class="gallery-action" style="top: 184px;">
                        <a href="{% url 'blog-detail' post.slug %}" class="btn-floating btn-large waves-effect waves-light" style="background-color: rgb(219, 179, 70);">
                            <i class="material-icons">favorite
                            </i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div style="background: fff;">
            <div class="row">
                <h3>Videos</h3>
                {% for video in videos %}
                {% if video.file %}
                <div class="col s12 m4 l4 center">
                    <video autoplay="autoplay" preload="preload" class="responsive-video" controls>
                        <source src="{{ video.file.url }}" type="video/mp4">
                    </video>
                </div>
                {% endif %}
                {% endfor %}
                <!-- <h5 class="center"><a href="#" class="teal darken-3 btn btn-flat btn-large btn-info"><small><span>See all posts</span></small></a></h5> -->
            </div>
        </div>
    </div>
{% endblock %}