{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <title>Nanton District Assembly | {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="#" type="image/x-icon">
        <link rel="icon" href="#" type="image/x-icon">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" href="{% static 'css/materialize.css' %}" rel="stylesheet" media="screen,projection">
        <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" media="screen,projection">
    </head>
    <body>
        <header>
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock %}
            {% block mobile_sidebar %}
                {% include 'mobile.html' %}
            {% endblock %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="page-footer teal darken-3">
            {% block footer %}
            {% include 'footer.html' %}
            <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
            <script src="{% static 'js/materialize.js' %}"></script>
            <script>
                M.AutoInit();
                // $('.carousel.carousel-slider').carousel({
                //     fullWidth: true,
                //     indicators: true
                // });
                $(document).ready(function () {
                    $('.slider').slider({
                        indicators: false
                    });
                });
            </script>
            <!-- <script>
                $('.head-link').click(function (e) {
                    e.preventDefault();

                    var goto = $(this).attr('href');

                    $('html, body').animate({
                        scrollTop: $(goto).offset().top
                    }, 800);
                });

            </script> -->
            {% endblock %}
        </footer>
    </body>
</html>