{% load static %}
<link rel="stylesheet" href="{% static 'font-awesome-4.3.0/css/font-awesome.min.css' %}">
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            <h5 class="white-text">Category</h5>
            <ul>
                {% for categories in cat_list %}
                <li>
                    <a class="grey-text text-lighten-3" href="{% url 'category' categories %}">
                        {{categories}} <span class="badge teal darken-4">{{categories.category_set.count}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m6 l6">
            <h5 class="white-text">Recent Posts</h5>
            <ul>
                {% for post in latestpost_list %}
                <img style="width:100px; height:80px" src="{{post.img.url}}">
                <a style="text-decoration:none;" href="{% url 'blog-detail' post.slug %}">
                    <p class="white-text">{{ post.title }}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<hr class="grey darken-4">
<div class="row">
    <div class="col s6 offset-s4 m12 l12 center">
        <a href="#" title="Share on Facebook" target="_blank" class="center"> <i
                class="fa fa-facebook" style="font-size: 35px; color:white;"></i></a> &nbsp; &nbsp;
        <a href="#" title="Tweet" target="_blank" class="center"> <i
                class="fa fa-twitter" style="font-size: 35px; color:white;"></i></a> &nbsp; &nbsp;
        <a href="#" title="Share on Google+" target="_blank" class="center"> <i
                class="fa fa-google-plus" style="font-size: 35px; color:white;"></i></a> &nbsp; &nbsp;
        <a href="#" title="Share on LinkedIn"
            target="_blank" class="center">
            <i class="fa fa-linkedin" style="font-size: 35px; color:white;"></i></a>
    </div>
</div>
<div class="footer-copyright grey darken-4">
    <div class="container">
        Copyright &copy; {% now "jS F Y H:i" %}
        <a href="/" class="grey-text text-lighten-4 right">Nanton District Assembly</a>
    </div>
</div>