{% load static %}
<ul class="sidenav" id="mobile-demo">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{% static 'img/parallax.jpg' %}" class="center">
            </div>
            <img src="{% static 'img/parallax.jpg' %}" class="circle center">
            {% if user.is_authenticated %}
            <a href="#"><span class="white-text name">Hello, {{ user.username }}</span></a>
            <a href="{% url 'logout' %}"><span class="white-text name">Logout</span></a>
            {% else %}
            <a href="{% url 'login' %}"><span class="white-text email">Login</span></a>
            {% endif %}
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="/"><i class="material-icons">home</i> Home</a>
    </li>
    <li>
        <a href="#"><i class="material-icons">info</i> Profile</a>
    </li>
    <li>
        <a href="{% url 'blog' %}"><i class="material-icons">announcement</i> Blog</a>
    </li>
    <li>
        <a href="{% url 'media' %}"><i class="material-icons">add_a_photo</i> Media</a>
    </li>
    <li>
        <a href="{% url 'contact' %}"><i class="material-icons">chat</i> Contact</a>
    </li>
    <div class="divider"></div>
    <li>
        <form action="">
            <div class="input-field">
                <input type="search" id="search" required>
                <label for="search" class="label-icon"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </li>
</ul>