<nav class="nav-extended grey darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center" style="font-size: medium;">Nanton District Assembly</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger" style="font-size: 40px;"><i
                class="material-icons">reorder</i></a>
        <ul class="right hide-on-med-and-down">
            <!-- <li>
                <a href="#"><i class="material-icons">notifications</i></a>
            </li> -->
            <li>
                <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Accounts"><i class="material-icons">person</i></a>
            </li>
            <li>
                <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Login"><i class="material-icons">lock_open</i></a>
            </li>
        </ul>
    </div>
    <div class="nav-content teal darken-3 hide-on-med-and-down">
        <ul class="nav-wrapper tabs tabs-transparent">
            <li class="tab">
                <a href="/" target="_self"> Home</a>
            </li>
            <li class="tab">
                <a href="#"> Profile</a>
            </li>
            <li class="tab">
                <a href="{% url 'blog' %}" target="_self"> Blog</a>
            </li>
            <li class="tab">
                <a href="#"> Media</a>
            </li>
            <li class="tab">
                <a href="#"> Contact</a>
            </li>
        </ul>
    </div>
</nav>