<nav class="nav-extended grey darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center" style="font-size: medium;">Nanton District Assembly</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger" style="font-size: 40px;"><i
                class="material-icons">reorder</i></a>
        <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li>
                <a href="#" class="tooltipped" data-position="bottom" data-tooltip="{{ user.username }}"><i class="material-icons">person</i></a>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="tooltipped" data-position="bottom" data-tooltip="Logout"><i
                        class="material-icons">lock</i></a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}" class="tooltipped" data-position="bottom" data-tooltip="Login"><i class="material-icons">supervisor_account</i></a>
            </li>
            {% endif %}
            <li>
                <form action="">
                    <div class="input-field">
                        <input type="search" id="search" required>
                        <label for="search" class="label-icon"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <div class="nav-content teal darken-3 hide-on-med-and-down">
        <div class="nav-wrapper">
            <center>
                <ul class="center tabs tabs-transparent">
                    <li class="tab">
                        <a href="/" target="_self"> Home</a>
                    </li>
                    <li class="tab">
                        <a href="#" target="_self"> Profile</a>
                    </li>
                    <li class="tab">
                        <a href="{% url 'blog' %}" target="_self"> Blog</a>
                    </li>
                    <li class="tab">
                        <a href="{% url 'media' %}" target="_self"> Media</a>
                    </li>
                    <li class="tab">
                        <a href="{% url 'contact' %}" target="_self"> Contact</a>
                    </li>
                    <li class="right tab"><a href="#" target="_self"><i class="material-icons">facebook</i></a></li>
                    <!-- <li class="right tab"><a href="#" target="_self"><i class="material-icons">twitter</i></a></li>
                    <li class="right tab"><a href="#" target="_self"><i class="material-icons">youtube</i></a></li>
                    <li class="right tab"><a href="#" target="_self"><i class="material-icons">instagram</i></a></li> -->
            </ul>
        </center>
        </div>
    </div>
</nav>