{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}

{% for message in messages %}
    <script>
        var toastHTML = '{{ message }}';
        M.toast({html: toastHTML, classes: 'red darken-3'});
    </script>
{% endfor %}
    <div class="container">
        <div class="row">
            <div class="container">
                <h3 class="center">Nanton District Assembly</h3>
                <form action="" method="POST" class="col s12 m12 l12">
                    {% csrf_token %}
                    <div class="input-field">
                        <label for="username">Username</label>
                        <input type="text" class="validate" placeholder="Enter username" name="username">
                        <small id="email" class="helper-text" data-success="right">We'll never share your credentials with anyone
                            else.</small>
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <button style='margin-top:20px' type="submit" class="btn btn-large btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}