<html>
{% load static %}

<head>
    <title>{% block title %}Register{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
{% block content %}

{% for message in messages %}
<script>
    var toastHTML = '{{ message }}';
    M.toast({ html: toastHTML, classes: 'red darken-3' });
</script>
{% endfor %}
    <body class="teal darken-3" style="background: url('{% static 'img/parallax.jpg' %}');">
    
        <div class="container" style="margin-top:90px;">
            <div class="row">
                <div class="col s12 m6 offset-m3">
    
    
                    <div class="card-panel z-depth-5">
                        <h4 class="center"> Welcome &#128512;</h4>
                        <div class="row">
                            <form class="col s12 m12" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <input class='validate' type='text' placeholder="Enter First name" name="first_name" />
                                        <label for='first_name'>Enter First Name</label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <input class='validate' type='text' placeholder="Enter Last Name" name="last_name" />
                                        <label for='last_name'>Enter Last Name</label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <input class='validate' type='text' placeholder="Enter username" name="username"
                                            id='username' />
                                        <label for="username">Username</label>
                                    </div>
    
                                    <div class="input-field col s12 m12">
                                        <input class='validate' type='email' placeholder="Enter Email" name="email" />
                                        <label for='email'>Enter Email</label>
                                    </div>
    
                                    <div class="input-field col s12 m12">
                                        <input class='validate' type='password' name='password1'
                                            placeholder="Password" />
                                        <label for="password1">Password</label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <input class='validate' type='password' name='password2' placeholder="Confirm Password" />
                                        <label for='password2'>Confirm your password</label>
                                    </div>
    
                                </div>
                            </form>
    
                        </div>
                        <!--row-->
                        <button class="btn waves-effect waves-light center" type="submit" name="action">Sign Up
                            <i class="fa fa-sign-in right"></i>
                        </button>
                        <br>
                        <br>
                        Already with account? Please <a href="{% url 'login' %}">login</a> here.<br>
                    </div>
                    <!--card-->
    
    
                </div>
                <!--col-->
            </div>
            <!--row-->
        </div>
        <!--conatiner-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
{% endblock %}

</html>